<?xml version="1.0"?>

<model>
  <name>RMURV 2020 Marker</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Martin Christiansen</name>
    <email>mapc@mmmi.sdu.dk</email>
  </author>

  <description>
   Landing marker for the RMURV 2020 mini project four.
   The aruco marker has id 0 and is from the DICT_4X4_250 marker dictionary.
  </description>
</model>
